@(profiles: Seq[MongoUserModel])
@main("Saved"){

<style>
    #jumbotron{
    background-color: rgba(156, 155, 170, 0.4);
    }
    .form-control::placeholder {
            color: white;
    }
</style>

<div class="container-fluid d-flex p-5 h-100  justify-content-center align-items-center ">

    <div id="jumbotron" class="p-5 mb-4 w-75 w3-container w3-animate-opacity rounded-3 ">
        <div class=" w3-animate-bottom container-fluid py-5 ">
            <h1 class="display-5 fw-bold text-center">Saved!</h1>
            <div class="row justify-content-center">
                <p class="col-md-8 fs-4 p-4 text-center ">Click below to see saved profiles</p>
            </div>
            <div class="row justify-content-center">
                <form class="d-flex justify-content-center" method="get" action="/github/saved" >
                    <button class="btn btn-outline-light" type="submit">Saved Profiles</button>
                </form>
            </div>
        </div>
    </div>

</div>
}

