@(name: String, repos: List[RepoModel])

@main("User Repos") {
<style>

    ul {
    list-style-type: none;
    }
</style>


<div class="container-fluid justify-content-center align-items-center ">

    <h1 class="display-5 fw-bold text-center">@(name)'s Repositories</h1>

    <div  class=" w3-animate-bottom container-fluid d-flex ">
        <div class="row justify-content-center">
            @repos.map{ repo =>
            <a href ="@repo.html_url" class="card m-1 w3-animate-left bg-light border-light-subtle fw-bold" style="text-decoration:none; width: 18rem; --bs-bg-opacity: .5;">
                <div class="card-body">
                    <h5 class="card-title text-center">@repo.name</h5>
                    <h6 class="card-text">Primary Language: @repo.language</h6>
                    <p class="card-subtitle mb-2 text-body-secondary  ">Description: @repo.description</p>
                    <br>
                    <p class="card-subtitle mb-2 text-body-secondary  ">Forks: @repo.forks_count</p>


                </div>
            </a>
            }
        </div>

    </div>

</div>


}

@(
//<div class="card m-1 w3-animate-left bg-transparent border-light-subtle fw-bold " style="width: 18rem; ">
    //  <img src="@user.avatar_url" class="card-img-top rounded p-4" alt="avatar">
    //    <div class="card-body row justify-content-between ">
    //      <h5 class="col-10 card-title">User: @user.login</h5>
    //      <form method="get" action="/github/update/@user.login">
    //        <button type="submit" class="col-2 btn bi bi-arrow-clockwise"></button>
    //      </form>
    //    </div>
    //    <ul class="list-group t list-group-flush">
    //      <li class="card-body ">Est.: @user.created_at</li>
    //      <li class="card-body ">Location: @(user.location match{
    //case Some(x) => x
    //case None => "None"
    //})
    //</li>
    //<li class="card-body ">Followers: @user.followers</li>
    //  <li class="card-body ">Followers: @user.following</li>
    //</ul>
    //<form class=" d-flex card-body t justify-content-center" method="get" action="/github/delete/@user._id">
    //  <button type="submit" class=" btn btn-outline-secondary card-link text-light">Remove User</button>
    //</form>
    //</div>
)